body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Verdana, sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
}

li {
    float: left;
    margin-top: 2.5%;
}
picture {
    width: 90%;
}
img {
    width: 90%;
    transition: transform 1s ease-in-out;
    border: 5px solid yellow;
}
img:hover {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

@media screen and (min-width: 600px) {
    li {
        width: 50%;
    }
    img:hover {
        transform: translate(50px,100px);
    }
}

@media screen and (min-width: 1200px) {
    li {
        width: 25%;
    }
    img:hover {
        transform: rotate(20deg);
    }
}